SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/externals-db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change-me

L_MAIL_HOST=smtp.gmail.com
L_MAIL_PORT=587
L_MAIL_USERNAME=your-email@example.com
L_MAIL_PASSWORD=your-app-password
L_APP_MAIL_FROM=your-email@example.com

L_TTS_MODEL_API_KEY=your-tts-api-key
MODEL_ID=eleven_multilingual_v2
L_TTS_VOICE_ID=EXAVITQu4vr4xnSDxMaL
